html, body{
	background: white;
	margin: 0;
	width:100%;
	height:100%;
}
.lab{
	display: none;
}
.disp{
	
}
h1{
	font-family: 'Cabin', sans-serif;
	font-size:46px;
	font-weight:bold;
	line-height:1em;
	text-align:center;
	text-shadow:2px 2px 0px #877667;
	color: #FF5733;
}
.anchor{
	text-decoration: none;
	color:#fff;
}
#veloc_title{
	display:none;
	padding:10px 20px 20px 10px;
	font-family: 'Cabin', sans-serif;
	font-size:30px;
	line-height:1em;
	text-align:center;
	text-shadow:2px 2px 0px #877667;
	color:#FF5733;
}
.container{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:100%;
	height:auto;
	margin-bottom:40px;
}
#map{
	margin:0 auto;
	width:100%;
}
.title_map{
	font-family: 'Cabin', sans-serif;
	font-size:46px;
	line-height:1em;
	text-align:center;
	text-shadow:2px 2px 0px #877667;
	color:#FF5733;
}
#mapid{
	margin:0 auto;
	width:600px;
	height:500px;
	max-height:800px;
	border-radius:30px;
	box-shadow: 4px 4px 0px #877667;
	cursor:pointer;
}
#resa{
	display: none;
	margin:0 auto;
	width:100%;
}
.resa_title{
	font-family: 'Cabin', sans-serif;
	font-size:46px;
	line-height:1em;
	text-align:center;
	text-shadow:2px 2px 0px #877667;
	color:#FF5733;
}
#booking{
	margin:0 auto;
	width:600px;
	border-radius:5px;
}
#station{
	display:none;
	margin:0 auto;
	width:500px;
	height:120px;
	color:#877667;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	text-align:center;
}
#resa_block{
	display:none;
	margin:0 auto;
	width:500px;
	text-align: center;
}
form label{
	display:inline-block;
	width:100px;
	color:#FFA07A;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
}
form input{
	display:inline-block;
	width:200px;
	border: 2px solid #877667;;
    border-radius: 100rem;
    color: #877667;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    outline: none;
    padding: .5rem .5rem;
    text-align:center;
}
form input:focus{
    border: 2px solid #FF5733;
    color: #FF5733;
}
#lastname{
	text-transform: uppercase;
}
#signature{
	display:none;
	margin:0 auto;
	width:100%;
}
#resa-button{
	display:block;
	text-align: center;
}
#btn1{
	display:inline-block;
	margin:0 auto;
	margin-top:15px;
	width:120px;
	height:40px;
	background:#FF5733;
	cursor:pointer;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	line-height:1em;
	color:#fff;
	border:none;
	border-radius:2px;
	outline:none;
	transition:0.1s;
}
#btn1:hover{
	transform: scale(1.10);
}
#btn1:active{
	transform: scale(0.98);
	box-shadow:3px 3px 8px 1px rgba(0, 0, 0, 0.4);
}
#btn{
	text-align: center;
	margin:0 auto;
	margin-top:10px;
	width:100%;
}
#btnSignature{
	display:none;
	margin:0 auto;
	margin-top:5px;
	width:120px;
	height:40px;
	background:#FF5733;
	cursor:pointer;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	line-height:1em;
	color:#fff;
	border:none;
	border-radius:2px;
	outline:none;
	transition:0.1s;
}
#btnSignature:hover{
	transform: scale(1.10);
}
#btnSignature:active{
	transform: scale(0.98);
	box-shadow:3px 3px 8px 1px rgba(0, 0, 0, 0.4);
}
#cancel{
	display:none;
	margin:0 auto;
	width:100%;
	height:60px;
}
#btcancel{
	text-align:center;
	margin:0 auto;
	width:100%;
}
#cancel1{
	display:inline-block;
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	width:120px;
	height:40px;
	background:#FF5733;
	cursor:pointer;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	line-height:1em;
	color:#fff;
	border:none;
	border-radius:2px;
	outline:none;
	transition:0.1s;
}
#cancel1:hover{
	transform: scale(1.10);
	box-shadow:2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}
#cancel1:active{
	transform: scale(0.98);
	box-shadow:3px 3px 8px 1px rgba(0, 0, 0, 0.4);
}
#countdown{
	display:none;
	margin:0 auto;
	margin-top:10px;
	width:100%;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size:24px;
	line-height:1em;
	color: #FF5733;
}
#timer, #info_countdown, #resaBy{
	margin:0 auto;
	text-align: center;
	font-size:24px;
	width:100%;
	height:40px;
}
#stationName, #resaName{
	margin:0 auto;
	text-align:center;
	font-weight:bold;
	font-size:28px;
	width:100%;
	height:40px;
}
/* ************************** bloc signature *************************** */
#canvas-block{
	display:inline-block;
	margin:0 auto;
	text-align:center;
	width:100%;
}
#canvas{
	display:inline-block;
	margin:0 auto;
	text-align:center;
    width: 240px;
    height: 160px;
    border: 2px solid #877667;
    border-radius:30px;
	box-shadow: 2px 2px 0px #877667;
	background:white;
	cursor:pointer;
}
#capture{
    border: 2px solid #877667;
    width: 200px;
    height: 150px;
}
/*MISE EN PAGE*/
#signature-block{
	display:none;
	margin: 0 auto;
    margin-top:20px;
    width:100%;
}
#btnClear{
	display:inline-block;
	margin:0 auto;
	margin-bottom:10px;
	margin-right:10px;
	width:120px;
	height:40px;
	background: #9e9e9e;
	cursor:pointer;
	text-align:center;
	font-family: 'Cabin', sans-serif;
	font-size:20px;
	line-height:1em;
	color:#fff;
	border:none;
	border-radius:2px;
	outline:none;
	transition:0.1s;
}
#btnClear:hover{
	cursor:pointer;
	transform: scale(1.10);
}
#btnClear:active{
	transform: scale(0.98);
	box-shadow:3px 3px 8px 1px rgba(0, 0, 0, 0.6);
}
/* ************************** Fin bloc signature *************************** */
footer{
	background:black;
	padding-top:20px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	width:100%;
	height:80px;
}
.foot{
	float:right;
	margin-left:40px;
	padding-top:20px;
	color:white;
	font-family: 'Cabin', sans-serif;
	font-size:16px;
}
